
.Rproj.user/4FB8686B/pcs/files-pane.pper
*.pper
.Rproj.user/4FB8686B/rmd-outputs
.Rproj.user/4FB8686B/saved_source_markers
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
.Rproj.user/4FB8686B/sources/s-0324C722/lock_file
.Rproj.user
